.whatyouget-container {
  background: radial-gradient(
    38.46% 38.46% at 50.04% 61.54%,
    rgba(86, 41, 157, 0) 0%,
    #020103 100%
  );
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}

.whatyouget-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  color: rgba(255, 255, 255, 1) !important;
}

.wyg-para1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.0001em;
}

.wyg-head1 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -0.015em;
  width: 50%;
}

.wyg-para2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.0001em;
}

.whatyouget-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
  background: rgba(16, 10, 23, 1);
  border: 1px solid rgba(31, 18, 43, 1);
  width: 60%;
}

.whatyouget-card-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.whatyouget-card-text h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.002em;
  color: rgba(208, 208, 208, 1) !important;
}

.whatyouget-card-text p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.002em;
  color: rgba(170, 170, 170, 1) !important;
  width: 90%;
}

.whatyouget-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.badgeandrole {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.whatyouget-verified-badge {
  height: 18px !important;
  width: 18px !important;
  margin-top: 8px;
}
.whatyouget-card-imagecontainer {
  position: relative;
  width: 280px;
  height: 206px;
}
.whatyouget-card-imagecontainer video {
  width: 280px;
  height: 100%;
  object-fit: cover;
}

.purple-box-text {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 105px;
  height: 36px;
  border-radius: 6px;
  opacity: 0.6;
  background: #351763;
  color: rgba(208, 208, 208, 1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatyouget-playbutton {
  position: absolute;
  left: 100px;
  top: 60px;
}
.hidden {
  display: none;
}
.playbuttonactive {
  display: block;
}
@media only screen and (max-width: 600px) {
  .whatyouget-card-imagecontainer {
    display: none;
  }
  .wyg-para1 {
    font-size: 15px;
  }

  .wyg-head1 {
    font-size: 35px;
    width: 90%;
  }

  .wyg-para2 {
    font-size: 15px;
  }

  .whatyouget-card {
    width: 80%;
  }
  .whatyouget-card-text {
    width: 90%;
  }
  .whatyouget-card-text h2 {
    font-size: 20px;
  }
  .whatyouget-card-text p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 600px) {
  .whatyouget-card-imagecontainer {
    display: none;
  }
  .wyg-para1 {
    font-size: 18px;
  }

  .wyg-head1 {
    font-size: 38px;
    width: 75%;
  }

  .wyg-para2 {
    font-size: 18px;
  }

  .whatyouget-card {
    width: 80%;
  }
  .whatyouget-card-text {
    width: 90%;
  }

  .whatyouget-card-text h2 {
    font-size: 21px;
  }
  .whatyouget-card-text p {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 800px) {
  .whatyouget-card-imagecontainer {
    display: block;
  }

  .whatyouget-card {
    width: 90%;
  }

  .whatyouget-card-text h2 {
    font-size: 24px;
  }
  .whatyouget-card-text p {
    font-size: 16px;
  }

  .wyg-para1 {
    font-size: 20px;
  }

  .wyg-head1 {
    font-size: 56px;
    width: 85%;
  }

  .wyg-para2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1300px) {
  .whatyouget-card {
    width: 60%;
  }
  .whatyouget-card-text {
    width: 100%;
  }
  .whatyouget-card-text p {
    width: 90%;
  }

  .wyg-head1 {
    width: 50%;
  }
}
