.participate-container{     
flex-direction: column;
align-items: center;
margin: auto;
margin-top: 20px;
width: 78%;
}

.participate-heading{
border: 1px solid #262626;
padding: 100px 0px;
width: 100%;
}
.participate-heading h2{
font-size: 38px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
}
.participate-cards{              
flex-wrap: wrap;
border-right: 1px solid #262626;          
justify-content: center;
}


.participate-card{
flex-direction: column;
border-bottom: 1px solid #262626;
align-items: flex-start;
width: 50%;
padding: 50px;
}

.participate-card p,.participate-card li{
color: #D2D2D2;
font-size: 18px;
font-weight: 400;
list-style: disc;
}

.participate-card p{
width: 100%;
}

.participate-li{
margin-bottom: 40px;

padding: 10px 10px 10px 30px;
}

.participate-card li{
width: 70%;
}

.participate-card-title{
align-items: center;
gap: 20px;
}

.card-title-number{
font-size: 120px;
font-weight: 600;

}

.card-title-name{
font-size: 26px;
font-weight: 600;

}

.p-card-heading{
padding: 20px;
border-bottom: 1px solid #262626;       
}



.laptopimage-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    box-shadow: -1px -11px 55px 3px rgba(98, 42, 154, 0.69);
  }
  .laptopimage-container::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 80%;
    bottom: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.8%, #050208 86.04%);
  }
  .par-play-wrapper {
    border-radius: 24px;
    border: 1px solid hsl(0, 0%, 22%, 0.5);
    background: rgba(140, 69, 255, 0.8);
    position: absolute;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 10px;
    z-index: 3;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    box-shadow: 433px 559px 198px 0px rgba(11, 18, 50, 0),
      277px 358px 181px 0px rgba(11, 18, 50, 0.01),
      156px 201px 153px 0px rgba(11, 18, 50, 0.05),
      69px 89px 113px 0px rgba(11, 18, 50, 0.09),
      17px 22px 62px 0px rgba(11, 18, 50, 0.1);
  }
  
  .par-play-wrapper img:hover {
    cursor: pointer;  
}
.par-img{
    width: 100%;    
}
@media only screen and (max-width: 600px) {
.participate-container{
gap: 25px;  
}
.participate-cards{
flex-direction: column !important;  
align-items: center;
gap: 25px;
}
.participate-card{
width: 100%;
gap: 10px;
padding: 20px 20px;  
}
.participate-heading{
padding: 25px;  
}
.participate-heading h2{
  font-size: 24px;  
}
.card-title-number{
font-size: 70px;  
}
.card-title-name{
font-size: 20px;  
}
.participate-card p,.participate-card li{
font-size: 14px;  
}
.participate-card li{
width: 100%;  
}
.participate-img{
 width: 100%; 
}


.par-icon{
  width: 30px;  
}
.par-play-wrapper{
padding:  20px;  
}
}


@media only screen and (min-width: 600px) {
  .participate-container{
  gap: 0px;  
  width: 90%;
  }
  .participate-cards{
  flex-direction: column !important;  
  align-items: center;
  gap: 0px;
  }
  .participate-card{
  width: 100%;
  gap: 10px;
  padding: 50px;  
  }
  .participate-heading{
  padding: 25px;  
  }
  .participate-heading h2{
    font-size: 28px;  
  }
  .card-title-number{
  font-size: 90px;  
  }
  .card-title-name{
  font-size: 24px;  
  }
  .participate-card p,.participate-card li{
  font-size: 18px;  
  }
  .participate-card li{
  width: 100%;  
  }
  .participate-img{
   width: 100%; 
  }
  .par-icon{
    width: 30px;  
  }
  .par-play-wrapper{
  padding:  20px;  
  }
  }
  @media only screen and (min-width: 992px) {

  .participate-cards{
 flex-direction: row !important;
 flex-wrap: wrap !important;
align-items: normal;
 }
 
 .participate-card{
  width: 50%;
  }

.participate-heading h2{
  font-size: 38px !important;
  }
  
.participate-card p,.participate-card li{
font-size: 18px !important;
}
}

@media only screen and (min-width: 1200px){
.participate-heading{
padding: 100px 0px;
}  

.participate-container{     
  margin: auto;
  width: 78%;
  }

.participate-card{
  flex-direction: column;
  border-bottom: 1px solid #262626;
  align-items: flex-start;
  width: 50%;
  padding: 50px;
  }

  .participate-li{
  margin-bottom: 40px;
  padding: 10px 10px 10px 30px;
  }
  
  .participate-card li{
  width: 70%;
  }
  
  
  .card-title-number{
  font-size: 120px !important;
  font-weight: 600;
  
  }
  
  .card-title-name{
  font-size: 26px !important;
  }
  
  .p-card-heading{
  padding: 20px; 
  }
  .par-icon{
    width: 60px;  
  }
  .par-play-wrapper{
  padding:  40px;  
  }
}