.community-title {
  font-size: 50px !important;
  font-weight: 800 !important;
  letter-spacing: -0.015em !important;
  text-align: right;
  width: 85%;
  margin-bottom: 30px !important;
}
.community-btn {
  padding: 6px 15px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  background: rgba(140, 69, 255, 0.4) !important;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) inset !important;
  backdrop-filter: blur(7px) !important;
  width: fit-content !important;
  text-transform: capitalize !important;
}
.persian {
  display: none;
}
.community-header {
  gap: 10px;
  width: 29%;
  align-items: flex-start;
}
.community-description {
  font-size: 20px !important;
  width: 140%;
  position: relative;
}
.community-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0;
  width: 90%;
  margin: auto;
}
.commmunity-smallHeading {
  font-size: 33px !important;
  font-weight: 900 !important;
  letter-spacing: -0.0001em !important;
}
.community-stories {
  align-items: start;
  margin-top: 50px;
  background: radial-gradient(
    50.24% 40% at 49.84% 54.49%,
    rgba(86, 41, 157, 0.4) 30%,
    #020103 100%
  );
}
.video-img {
  width: 245px;
  height: 180px;
  border-radius: 7px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    lightgray -24.891px 0px / 110.893% 100% no-repeat;
}
.community-overlay-play img {
  width: 16px;
  height: 16px;
}
.community-video-container {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.community-overlay-play {
  position: absolute;
  display: flex;
  width: 42px;
  height: 42px;
  padding: 13px;
  align-items: center;
  gap: 4;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.4px solid #393939;
  background: rgba(140, 69, 255, 0.6);
  box-shadow:
    140.075px 180.836px 64.053px 0px rgba(11, 18, 50, 0),
    89.609px 115.813px 58.553px 0px rgba(11, 18, 50, 0.01),
    50.466px 65.023px 49.495px 0px rgba(11, 18, 50, 0.05),
    22.321px 28.791px 36.555px 0px rgba(11, 18, 50, 0.09),
    5.499px 7.117px 20.057px 0px rgba(11, 18, 50, 0.1);
}
.community-stories-section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.stories-wrapper {
  gap: 32px;
}
.stories-wrapper:nth-child(1) {
  justify-content: flex-end;
}
.stories-wrapper:nth-child(2) {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .community-stories-section,
  .community-section {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 10px;
  }
  .community-stories-section {
    flex-wrap: nowrap;
    gap: 0;
  }
  .stories-wrapper:nth-child(1),
  .stories-wrapper:nth-child(2) {
    justify-content: flex-start;
  }
  .community-video-container {
    display: flex !important;
  }
  .community-description {
    font-size: 12px !important;
    width: 80%;
    margin: auto;
    text-align: center !important;
    line-height: normal !important;
  }
  .community-title {
    font-size: 22px !important;
    width: 100%;
    text-align: center;
  }
  .community-header {
    width: 100%;
    text-align: center !important;
    align-items: center !important;
    margin-bottom: 20px;
  }
  .video-img {
    width: 100%;
    height: 100%;
  }
  .community-overlay-play {
    width: 60px;
    height: 60px;
  }
  .community-overlay-play img {
    width: 30px;
    height: 30px;
  }
  .commmunity-smallHeading {
    font-size: 20px !important;
    font-weight: 900 !important;
    letter-spacing: -0.0001em !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .community-header {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .community-title {
    font-size: 24px !important;
    margin-bottom: 16px !important;
    width: 100%;
  }
  .slick-slider {
    position: relative;
    display: block;
    width: 100%;
  }
  .commmunity-smallHeading {
    font-size: 18px !important;
    font-weight: 900 !important;
  }
  .community-description {
    font-size: 12px !important;
    text-align: right;
    width: 100%;
    margin: auto !important;
  }
  .community-header {
    gap: 20px;
  }
  .video-img {
    width: 277px;
    height: 205px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .community-header {
    width: 80%;
    align-items: flex-start;
  }
  .community-section {
    width: calc(100% - 20px);
    margin: auto;
  }
}
@media only screen and (width: 820px) {
  .community-stories-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .community-header {
    width: 60%;
    align-items: flex-start;
  }
  .community-section {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .community-header {
    width: 60%;
    align-items: flex-start;
  }
  .community-section {
    width: 100%;
  }
}
