.price-container {
  text-align: center;
  padding: 80px 0;
  background-color: #000;
  width: 95% !important;
  color: #fff;
  background: radial-gradient(
    38.46% 43.46% at 50.04% 61.54%,
    rgba(86, 41, 157, 0) 0%,
    rgba(54, 23, 100, 0.5) 50%,
    rgba(2, 1, 3, 0.5) 100%
  );
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 100px;
}
.plan-title {
  font-weight: 500;
  font-size: 56px !important;
  text-align: center;
  color: #ffffff;
}

.plan-description {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 31px !important;
  text-align: center !important;
  color: #fff !important;
  width: 35% !important;
}
.slick-slider .slick-dots li button:before {
  width: 6px !important;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan-card {
  width: 307px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  background-color: transparent !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  background: rgba(0, 0, 0, 0.06) !important;
  transition: 1s ease-in-out !important;
}
.plan-card:hover {
  transform: scale(1.04);
}
.plan-heading {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}
.plan-price {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px !important;
}

.plan-perks {
  color: #bbb;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.perk {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.perk img {
  width: 15px;
  height: 15px;
}

.plan-perks li {
  font-weight: 400;
  font-size: 14px;
}
.linePic {
  margin-bottom: 30px;
}
.ButtonDiv {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
  height: 100%;
  width: 100%;
  margin: 20px 0;
}
.subscribe-button {
  font-weight: 400 !important;
  text-align: center;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  width: 90% !important;
  padding: 6px 15px !important;
  gap: 10px !important;
  height: 38px !important;
  background: rgba(61, 61, 61, 0.4) !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(7px) !important;
  border-radius: 10px !important;
  text-transform: capitalize !important;
  transition: linear 0.3s !important;
}
.subscribe-button:hover {
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.15) !important;
  background: rgba(140, 69, 255, 0.4) !important;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(7px) !important;
}
.plan-card:nth-child(odd):hover ~ .plan-card:nth-child(3n-1) {
  background: linear-gradient(180deg, #010002 0%, #361764 100%) !important;
  background-size: cover !important;
  background-blend-mode: screen !important;
}
.plan-card:nth-child(2) {
  background: linear-gradient(180deg, #010002 0%, #361764 100%),
    url(../../../../assets/Images/Pattern.png) !important;
  background-size: cover !important;
  background-blend-mode: screen;
}
.plan-card:nth-child(4):hover,
.plan-card:nth-child(odd):hover {
  background: linear-gradient(180deg, #010002 0%, #361764 100%),
    url(../../../../assets/Images/Pattern.png) !important;
  background-size: cover !important;
  background-blend-mode: screen;
  overflow: hidden !important;
}

.plan-card:nth-child(3) {
  display: none !important;
}
.plan-para {
  color: #fff;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 5px !important;
}
.css-46bh2p-MuiCardContent-root {
  padding: 16px;
  padding-bottom: 0px !important;
}
/* screen */

.payment-screen .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #1e44cc !important ;
  border-radius: 50px !important;
}
.payment-screen .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
  background-color: #141415 !important;
  border-radius: 50px !important;
}
.checkout-fields {
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
/* there is difference between filed and fields... */
.checkout-field {
  flex: 1 1 calc(50% - 20px) !important;
}
.checkout-tab-container {
  width: 80%;
  justify-content: center;
  align-items: center;
}
.checkout-btn {
  border-radius: 20px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  background: rgba(140, 69, 255, 0.4) !important;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) inset !important;
  backdrop-filter: blur(7px) !important;
  height: 64px;
  width: 780px;
  text-transform: inherit !important;
}
.debit-container {
  flex-wrap: wrap;
  gap: 20px;
}
.payment-screen .fs-36 {
  font-size: 36px !important;
  letter-spacing: -0.36px !important;
}
.payment-screen .fs-16 {
  font-size: 16px;
}
.payment-screen .fs-24-w-500 {
  font-size: 24px;
  font-weight: 500;
}
.payment-screen .checkout-section {
  width: 70%;
  gap: 30px;
}
.payment-screen .fs-18 {
  font-size: 18px !important;
}
.payment-screen .checkout-subscribe-btn {
  height: 50px !important;
  font-size: 22px !important;
}
.payment-screen {
  align-items: center;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}
.payment-screen .crypto-container {
  width: 100% !important;
}
.payment-screen .g-20 {
  gap: 20px;
}
.payment-screen .checkout-plan-card {
  background: linear-gradient(180deg, #010002 0%, #361764 100%),
    url(../../Assets/Images/Pattern.png) !important;
  background-size: cover !important;
  background-blend-mode: screen;
  overflow: hidden !important;
}
.payment-screen .g-10 {
  gap: 10px;
}
.payment-screen .css-10asit4-MuiTabs-root {
  width: 100% !important;
}
.payment-screen .css-11sinib-MuiButtonBase-root-MuiTab-root {
  width: 100% !important;
  align-items: flex-start;
  color: #ffffff !important;
  border-bottom: 3px solid gray !important;
}
.payment-screen .css-10asit4-MuiTabs-root .MuiTabs-indicator {
  width: 50% !important;
}
/* card override css */
.checkout-plan-card {
  height: 600px;
  width: 350px;
}
@media only screen and (max-width: 1030px) {
  .card-wrapper {
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
  }
  .text-container {
    margin-bottom: 100px;
  }
  .plan-description {
    width: 80% !important;
  }
}
@media only screen and (max-width: 820px) {
  .card-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .plan-description {
    width: 100% !important;
  }
  .text-container {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .plan-title {
    font-size: 42px !important;
  }
}
