/* .NavBarOptions {
} */
/* whole Navbar */
.css-nt0iva-MuiPaper-root-MuiAppBar-root {
  background: black !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.css-1jmxzwo-MuiToolbar-root {
  display: flex;
  gap: 100px;
  border-radius: 60px;
  direction:ltr;
}
.css-10h82pl-MuiPaper-root-MuiAppBar-root{
margin: auto !important;
width: 90% !important;
}
.css-1jmxzwo-MuiToolbar-root {
  gap: 40px;
  display: flex;
}
.Btns {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
}
.css-nt0iva-MuiPaper-root-MuiAppBar-root {
  width: 80% !important;
  margin: auto;
}
.css-5iifl-MuiPaper-root-MuiAppBar-root {
  background: transparent !important;
}
.btnContainer {
  display: flex;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 70%;
}

.btnContainer Button {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.001px;
  text-transform: capitalize;
}
/* .btnContainer Button:nth-child(3) {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #9855ff;
  font-size: 11px !important;
  font-weight: 400 !important;
  width: fit-content !important;
  height: 30px !important;
  margin-left: -50px;
} */
.btnContainer Button:nth-child(1) {
  display: flex;
}
.BorderDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right-btn {
  text-transform: inherit !important;
}
.BorderDiv .rightbtn:nth-child(2),
.BorderDiv .rightbtn:nth-child(3) {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 42px;
  backdrop-filter: blur(7px);
}
/* .BorderDiv .rightbtn:nth-child(2) {
  margin-left: 10px;
} */
.BorderDiv .rightbtn:nth-child(2) Button {
  width: 109px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.05) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize !important;
}
.BorderDiv .rightbtn:nth-child(3) Button {
  font-size: 14px;
  font-weight: 400 !important;
  width: 109px;
  height: 30px;
  text-transform: capitalize !important;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(140, 69, 255, 0.4);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) inset;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: var(--footer-bg) !important;
}
.css-20bmp1-MuiSvgIcon-root {
  fill: #aaaaaa !important;
}
.css-1lvtzne {
  justify-content: flex-end !important;
}
/* it's for hiding the buttons of sign in and sign up */
.BorderDiv .rightbtn:nth-child(2),
.BorderDiv .rightbtn:nth-child(3){
  display: none !important;
}
.BorderDiv .rightbtn:nth-child(2) Button,
.BorderDiv .rightbtn:nth-child(3) Button {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 100% !important;
  }
  
/* it's for hiding the buttons of sign in and sign up */
.BorderDiv .rightbtn:nth-child(2),
.BorderDiv .rightbtn:nth-child(3){
  display: none !important;
}
.BorderDiv .rightbtn:nth-child(2) Button,
.BorderDiv .rightbtn:nth-child(3) Button {
  display: none !important;
}
}
@media only screen and (min-width: 600px) {
  .css-1jmxzwo-MuiToolbar-root {
    min-height: 60px !important;
    justify-content: center !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 100% !important;
  }
  .css-hhdjsd-MuiContainer-root {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 100% !important;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 912px) {
  .Btns {
    gap: 10px;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  /* .css-1jmxzwo-MuiToolbar-root {
    height: 250px !important;
  } */
  .css-1q2doa3-MuiTypography-root {
    margin-left: 50px !important;
  }
}
@media only screen and (min-width: 1163px) {
  .css-1jmxzwo-MuiToolbar-root {
    height: 100px !important;
  direction: ltr;
  }
}
@media only screen and (min-width: 1200px) {
  .css-1jmxzwo-MuiToolbar-root {
    min-height: 60px !important;
    justify-content: center !important;
  }
  .Btns {
    gap: 0px;
    flex-wrap: nowrap !important;
  }
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 90% !important;
  }
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 100% !important;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .css-1jmxzwo-MuiToolbar-root {
    min-height: 60px !important;
    justify-content: space-between !important;
  }
  .Btns {
    gap: 0px;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
  }
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 90% !important;
  }
  .css-nt0iva-MuiPaper-root-MuiAppBar-root {
    width: 90% !important;
    padding: 0;
  }
  .css-1q2doa3-MuiTypography-root {
    margin-left: 0px !important;
  }
}
