.get-start-container {
  background: url('../../../../assets/Images/boxpattern.png'),
    radial-gradient(
      circle farthest-corner at top center,
      #000000 0%,
      #622a9a 0%,
      #000000 50%
    ) !important;
  background-size: cover; /* Ensure the pattern image covers the container */
  background-blend-mode: color-dodge; /* Blend the image and gradient if needed */

  height: auto; /* Allow it to adjust to content */
  min-height: 55vh; /* Ensure a minimum height */
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  align-items: center;
  margin-bottom: 70px !important;
}
.get-start-container h1 span {
  color: #d4a1ff !important;
}

.get-start-heading {
  font-size: 56px;
  width: 34%;
  text-align: center;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: -0.015em;
}

.get-email-field {
  display: flex;
  width: 33%;
  align-items: center;
}

.get-start-button {
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  margin-left: -33%;
  width: 33%;
  height: 47px;
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.0101em;
}
.my-with {
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  margin-left: -50%;
  width: 50%;
  height: 47px;
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.0101em;
}
.get-start-credit {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.0001em;
}
.m-right {
  margin: 0 -33% 0 0;
}
@media only screen and (max-width: 600px) {
  .get-start-heading {
    width: 90%;
    font-size: 44px;
  }

  .get-email-field {
    width: 100%;
  }
  .get-start-button {
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .get-start-heading {
    width: 54%;
  }

  .get-email-field {
    width: 55%;
  }
}

@media only screen and (min-width: 992px) {
  .get-start-heading {
    width: 40%;
  }
  .get-email-field {
    width: 38%;
  }
  .get-start-button {
    width: 32%;
  }
}

@media only screen and (min-width: 1200px) {
  .get-start-heading {
    font-size: 56px;
    width: 34%;
  }
  .get-email-field {
    width: 32%;
  }

  .get-start-button {
    width: 32%;
  }
}
